<?php include( 'doc-open.php' ); ?>
<title><?= $data['_config']['site_title'] ?></title>
<?php
include( 'doc-head-close.php' );
include( 'doc-header.php' );
?>
<div class="container">
<div class="mainpage">

<div class="panel panel-default panel-body">
  <div class="container-fluid text-left">
<?= $data['article'] ?>
  </div>
</div>

</div>
</div>
<?php include( 'doc-close.php' ); ?>
